
/* background */
.background{
    z-index: -1;
    background: url('../image/bg/bg1.png') no-repeat center center;
    background-size: cover;
}

.image-wrapper{
    position: absolute;
    width: 52.3vw;
    height: 29.2vw;
    background: rgba(240,195,15,.5);
    background-blend-mode: multiply;
    display: block;
    left: 24vw;
    top: 11.8vw;
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.decoration{
    position: absolute;
    animation-fill-mode: forwards;
    transition: all 1.4s ease-in-out;
}
.decoration > img{
    width: 100%;
    height: 100%;
}
.decoration_11{
    top: 41.2vw;
    left: 84.5vw;
    width: 4.2vw;
}
.decoration_12{
    left: -2.2vw;
    top: 24.3vw;
    width: 7.3vw;
}
.decoration_13{
    left: 77.5vw;
    top: 9.7vw;
    width: 10vw;
    /* transition: all 2s ease-out; */
}
.decoration_13-forward{
    transform: translateX(11vw);
    transition: all 2s ease-out;
}
.decoration_21{
    top: 24.5vw;
    left: 3vw;
    width: 7vw;
    mix-blend-mode: color-burn;
}
.decoration_22{
    left: 85vw;
    top: 39.5vw;
    width: 4vw;
}
.decoration_23{
    left: -40.5vw;
    top: 9.8vw;
    width: 16vw;
    height: .8vw;
    transition: all 2s ease-out;
}
.decoration_23-forward{
    transform: translate(29vw);
    transition: all 2s ease-out;
}
.decoration_31{
    left: -4.7vw;
    top: 5.5vw;
    width: 7.5vw;
}
.decoration_32{
    left: 20.7vw;
    top: 41.5vw;
    width: 5.5vw;
}
.decoration_33{
    left: 86vw;
    top: 21vw;
    width: 3.5vw;
}
.decoration_41{
    left: 3.5vw;
    top: 20vw;
    width: 4vw;    
}
.decoration_41 img{
    transform: rotate(180deg);
}
.decoration_42{
    left: 69.5vw;
    top: -5.2vw;
    width: 8.5vw;
}
.decoration_43{
    left: 82.5vw;
    bottom: 2.5vw;
    width: 8vw;
    transform: rotate(270deg);
    mix-blend-mode: color-burn;
}
