/* controller */
.controller,
.tittles{
    font-family: 'RobotoMono-Medium';
}
.controller__list{
    top: 13.5vw;
    left: 10.5vw;
}
.controller__item{
    display: table;
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
}
.controller__item.active{
    color: rgb(240, 195, 15);
    mix-blend-mode: darken;
}
.controller__item.active:after{
    display: none;
}
/* next button */
.controller__arrow{
    position: absolute;
    cursor: pointer;
}
.controller__arrow.arrow-1{
    top: 41vw;
    left: 84.5vw;
    width: 4.5vw;
    height: 8vw;
}
.controller__arrow.arrow-2{
    top: 39vw;
    left: 85vw;
    width: 4.5vw;
    height: 8vw;
}
.controller__arrow.arrow-3{
    top: 21vw;
    left: 86vw;
    width: 3.5vw;
    height: 6.5vw;
}
.controller__arrow.arrow-4{
    top: 20vw;
    left: 3.5vw;
    width: 4.5vw;
    height: 7.5vw;
}

/* tittles */
.logo{
    top: 0;
    left: 0;
    display: flex;
}
.logo__logo-1{
    width: 7vw;
    margin: .7vw 1vw;
}
.logo__logo-2{
    width: 5.5vw;
    margin: 1.5vw .3vw;
}
.tittles__tittle-wrapper{
    width: 52vw;
    height: 40.5vw;
    left: 24vw;
    top: 5.5vw;
}
.tittles__decoration{
    box-sizing: border-box;
    width: 79%;
    height: 100%;
    border: 2vw solid rgba(240,195,15,0.5);
    mix-blend-mode: multiply;
    background: transparent;
    margin: auto;
}
.tittles__small-tittle,
.tittles__tittle,
.tittles__topic,
.controller__item
{
    color: rgb(16,52,153);
}
.tittles__small-tittle{
    top: 5.5vw;
    left: 10.5vw;
    width: 9vw;
}
.tittles__tittle{
    top: 0;
    left: 0;
    line-height: 4.5rem;
    letter-spacing: .1rem;
    position: absolute;
}
.tittles__tittle.tittle-end{
    left: -1vw;
}
.tittles__tittle h1{
    white-space: nowrap;
    letter-spacing: -.1rem;
}
.tittles__tittle.deco-swing::before{
    top: 0.1vw;
    left: -5.5vw;
    width: 6vw;
    height: 4.6vw;
}
.tittles__topic.deco-swing::before{
    top: 0.4vw;
    left: -5.7vw;
    width: 6vw;
    height: 3vw;
}
.tittles__topic{
    position: absolute;
    letter-spacing: .08rem;
    bottom: 0;
    text-align: right;
    right: 0;
    line-height: .9;
}
.controller__item:after,
.tittles__date:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1vw;
    left: 0;
    bottom: 2px;
    background: rgb(240,195,15);
    background-blend-mode: color;
    z-index: -1;
}
.tittles__date{
    transform: rotate(-90deg) translate(100%,0);
    transform-origin: right bottom;
    top: 46.3vw;
    right: 3px;
    font-size: 2.7rem;
    color: rgb(210,100,20);
    mix-blend-mode: darken;
    line-height: 1.1;
}
.download{
    position: relative;
    top: 47vw;
    left: 1vw;
    display: inline-block;
    /* border: 2px solid rgb(210,100,20); */
    /* border-image: repeating-linear-gradient(45deg, rgb(210,100,20), rgb(210,100,20) .5vw, rgba(0, 0, 0, 0) .5vw, rgba(0, 0, 0, 0) 1vw ) 1; */
}
.download::before{
    content: '';
    width: 0;
    transition: all .3s ease-in-out;
    position: absolute;
    height: 40%;
    bottom: 0px;
    background: rgb(240,195,15);
    mix-blend-mode: color-burn;
}
.download:hover::before{
    width: 100%;
    transition: all .3s ease-in-out;
}

.download__link{
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    color: rgb(210,100,20);
    line-height: 1.1rem;
}
.download__icon{
    background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKCSB 2aWV3Qm94PSIwIDAgMTMuNiAxOC4zIj4KPGc+Cgk8cGF0aCBkPSJNMTMuNSw4LjhjLTAuMi0wLj MtMC41LTAuNi0wLjktMC42SDR2LTdDNCwxLjIsNCwxLjEsNC4xLDEuMWg1LjRjMC4xLDAsMC4xL DAuMSwwLjEsMC4xdjQuMQoJCWMwLDAuMS0wLjEsMC4xLTAuMSwwLjFINi4yYy0wLjMsMC0wLjUs MC4yLTAuNSwwLjVzMC4yLDAuNSwwLjUsMC41aDMuM2MwLjcsMCwxLjItMC41LDEuMi0xLjJWMS4 yYzAtMC43LTAuNS0xLjItMS4yLTEuMkg0LjEKCQlDMy40LDAsMi45LDAuNSwyLjksMS4ydjdIMW MtMC40LDAtMC43LDAuMi0wLjksMC42UzAsOS41LDAuMiw5LjhMNiwxNy45YzAuMiwwLjMsMC41L DAuNCwwLjgsMC40czAuNi0wLjIsMC44LTAuNGw1LjgtOC4xCgkJQzEzLjYsOS41LDEzLjYsOS4x LDEzLjUsOC44eiBNNi44LDE3LjFMMS4yLDkuM2gxMS4yTDYuOCwxNy4xeiIgZmlsbD0icmdiKDI xMCwxMDAsMjApIi8+CjwvZz4KPC9zdmc+") no-repeat center center;
    background-size: contain;
    display: inline-block;
    width: 1vw;
    height: 1vw;
}
.download:hover .download__icon{
    animation: slidedown 1s infinite ease-in-out;
}