@font-face{
    font-family: 'RobotoMono-Bold';
    src: url('../font/RobotoMono/RobotoMono-Bold.ttf');
}
@font-face{
    font-family: 'RobotoMono-BoldItalic';
    src: url('../font/RobotoMono/RobotoMono-BoldItalic.ttf');
}
@font-face{
    font-family: 'RobotoMono-Italic';
    src: url('../font/RobotoMono/RobotoMono-Italic.ttf');
}
@font-face{
    font-family: 'RobotoMono-Light';
    src: url('../font/RobotoMono/RobotoMono-Light.ttf');
}
@font-face{
    font-family: 'RobotoMono-LightItalic';
    src: url('../font/RobotoMono/RobotoMono-LightItalic.ttf');
}
@font-face{
    font-family: 'RobotoMono-Medium';
    src: url('../font/RobotoMono/RobotoMono-Medium.ttf');
}
@font-face{
    font-family: 'RobotoMono-MediumItalic';
    src: url('../font/RobotoMono/RobotoMono-MediumItalic.ttf');
}
@font-face{
    font-family: 'RobotoMono-Regular';
    src: url('../font/RobotoMono/RobotoMono-Regular.ttf');
}
@font-face{
    font-family: 'RobotoMono-Thin';
    src: url('../font/RobotoMono/RobotoMono-Thin.ttf');
}
@font-face{
    font-family: 'RobotoMono-ThinItalic';
    src: url('../font/RobotoMono/RobotoMono-ThinItalic.ttf');
}

/* icon moon */

@font-face {
    font-family: 'icomoon';
    src:  url('../font/iconMoon/icomoon.eot?jcqt10');
    src:  url('../font/iconMoon/icomoon.eot?jcqt10#iefix') format('embedded-opentype'),
      url('../font/iconMoon/icomoon.ttf?jcqt10') format('truetype'),
      url('../font/iconMoon/icomoon.woff?jcqt10') format('woff'),
      url('../font/iconMoon/icomoon.svg?jcqt10#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

