/* content slide 3 */
[class^="slide-3_pa-"] h4{
    font-size: 1.5rem !important;
}
[class^="slide-3_pa-"] p{
    font-size: .9rem !important;
    line-height: 1.2 !important;
}
.slide-3_pa-0{
    top: 25.4vw;
    left: 1.8vw;
}
.slide-3_pa-0_p-0{
    margin: 1.5vw 0 0 0vw;
}
.slide-3_pa-0_p-1{
    margin: 1.1vw 0 0 0.5vw;
}
.slide-3_pa-0_p-2{
    margin: 1.1vw 0 0 0.7vw;
}
.slide-3_pa-1{
    top: 3vw;
    left: 77vw;
}
.slide-3_pa-1_p-0{
    margin: 1.5vw 0 0 2vw;
}
.slide-3_pa-1_p-1{
    margin: 1.5vw 0 0 1.8vw;
}
.slide-3_pa-1_p-2{
    margin: 1.2vw 0 0 1.8vw;
}
.slide-3_pa-2{
    top: 2.5vw;
    left: 72.5vw;
}
.slide-3_pa-2_p-0{
    margin: .5vw 0 0 0vw;
}
.slide-3_pa-3{
    top: 8vw;
    left: 78.5vw;
}
.slide-3_pa-3_p-0{
    margin: .5vw 0 0 0vw;
}
.slide-3_pa-4{
    top: 29.7vw;
    left: 78.5vw;
}
.slide-3_pa-4_p-0{
    margin: .5vw 0 0 0vw;
}
.slide-3_pa-5{
    top: 34.5vw;
    left: 79vw;
}
.slide-3_pa-5_p-0{
    margin: .5vw 0 0 0vw;
}
