/* content slide 2 */
.slide-2_pa-0{
    top: 30vw;
    left: 2.5vw;
}
.slide-2_pa-0_p-0{
    margin: 0.5vw 0 0 1vw;
}
.slide-2_pa-0_p-1{
    margin: 1.1vw 0 0 2vw;
}
.slide-2_pa-0_p-2{
    margin: .8vw 0 0 2.8vw;
}

.slide-2_pa-1{
    top: 5.5vw;
    left: 78vw;
}

.slide-2_pa-1_p-1{
    margin: 1vw 0 0 1vw;
}
.slide-2_pa-1_p-2{
    margin: 1vw 0 0 2vw;
}
.slide-2_pa-1_p-3{
    margin: 1.5vw 0 0 2.5vw;
}
.slide-2_pa-2{
    top: 46vw;
    left: 8.5vw;
}
.slide-2_pa-2_p-0 p{
    font-size: 1.1rem !important;
}
.slide-2_pa-3{
    top: 5vw;
    left: 78.5vw;
}
.slide-2_pa-3_p-0 p{
    font-size: 1.6rem !important;
}
.slide-2_pa-4{
    top: 28.5vw;
    left: 82.5vw;
}
.slide-2_pa-4_p-0 p{
    font-size: 1.5rem !important;
}